<!DOCTYPE html>
<html lang="en">
<head>
    <title>EasyTrip</title>
    <meta charset="utf8" />
    <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <link href="styles/result.css" rel="stylesheet">
    <link href="styles/animate.css" rel="stylesheet">
    
    <!--    Jquery-->
    <link href="styles/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"> 
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
   <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</head>
<body onload="initialize()">
    <header class="text-center" >
        <a href="/" style="float:left; color:white;"> <i class="fa fa-chevron-circle-left"></i> Change category</a>
        <div id="titre" class="col-md-offset-5">
            <h1 class="text-center">EasyTrip <h4> Search <%= category %></h4></h1>
        </div>
    </header>
    <!-- APP  -->    
    <div class="col-md-12" id="app">
        <!-- Right part (Filter / Activities bar)  -->
        <section id="l-part" class="col-md-2 col-xs-12">
            <!--  Filter    -->
            <button type="button" class="btn btn-default" id="showFilter" >Show Filters </button>
            <button type="button" class="btn btn-default" id="hideFilter" >Hide Filters </button>
            <div href="#" id="filters"  class>
                <table class="table table-hover ">
                    <tbody>
                        <tr><td>
                            <h5><strong>Price:</strong></h5>
                                <div class="col-xs-6 ">
                                    <p>Min</p><input type="text" id="priceMin" class="form-control filter">
                                </div>
                                <div class="col-xs-6">
                                    <p>Max</p><input type="text" id="priceMax" class="form-control filter">                        
                                </div>
                            </td></tr>
                        <tr><td>
                            <h5><strong>Capacity:</strong></h5>
                                <div class="col-xs-12">
                                  <input class="form-control filter" id="capacity" type="text">
                                </div>
                            </td></tr>
                        <tr><td>
                            <h5><strong>Service:</strong></h5>
                                <div class="col-xs-12">
                                  <input class="form-control  filter" id="service" type="text">
                                </div>
                            </td></tr>
                        <tr><td>
                            <h5><strong>Dates:</strong></h5>
                                <div class="col-xs-12">
                                    <p>From</p><input type="text" id="dateStart" class="form-control filter" onchange="filter()">
                                </div>
                                <div class="col-xs-12">
                                    <p>To</p><input type="text" id="dateEnd" class="form-control filter" onchange="filter()">                        
                                </div>
                            </td></tr>
                        
                    </tbody>
                </table>
                <hr>
            </div>        
            <!--  Activities-->
            <div id = "activities" class="animated fadeInLeft">
                <h4>Choose your activities</h4>
                <ul class="list-group" id="list_activities">
                     List of activities
                    <% for(var i=0; i< activities.length; i++) {%>
                        <li class='list-group-item' data-id='<%= activities[i].id_activity %>' ><%= activities[i].name %></li>
                    <% } %>  
                </ul>
            </div>
        </section>
        <!-- Center part (List of services) -->      
        <section id="c-part"class="col-md-5 col-xs-12" style="overflow-y : scroll;height:100%;">
        </section>
        <!-- Left part (Google map)  -->
        <section id="r-part"class="col-md-5 col-xs-12">
           <div id="map_canvas"></div>
        </section>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!--    DatePicker-->
    <script src="js/jquery-ui-1.9.2.custom.min.js"></script>s
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Controller JS -->
    <script src="js/models/service.js"></script>
    <script src="js/models/map_manager.js"></script>
    <script src="js/models/activities_manager.js"></script>
    <script src="js/models/services_manager.js"></script>
    <!-- APP -->    
    <script type="text/javascript"> 
        
        //----------------------- Gestion des FILTERS     
        $('#filters').hide();
        $('#hideFilter').hide();
        
        var animationIn = 'animated fadeInLeft';
        var animationOut = 'animated fadeOutLeft';
        var animationUp = 'bounceInUp';
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        
        $('.filter').keyup(function(){
            services_manager.build();
        });
                
        $('#showFilter').click(function (){            
            $('#filters').addClass(animationIn).one(animationEnd,function(){ $(this).removeClass(animationIn);});
            $('#filters').show();
            $('#showFilter').hide();
            $('#hideFilter').show();            
        });
        
        $('#hideFilter').click(function (){
            $('#filters').addClass(animationOut).one(animationEnd,
                function(){ 
                    $(this).removeClass(animationOut);
                    $('#filters').hide();
                    $('#activities').removeClass(animationIn);
                    $('#activities').addClass(animationUp);
                    $('#hideFilter').hide();
                    $('#showFilter').show();
                    
            });       
        });

         //Dates
       $( "#dateStart" ).datepicker({
            minDate: 0,
            onSelect: function (dateText, inst) {
                var date = $.datepicker.parseDate($.datepicker._defaults.dateFormat, dateText);
                $("#dateEnd").datepicker("option", "minDate", date);
                services_manager.build();
            }
        });
        $( "#dateEnd" ).datepicker({
            onSelect: function(){
                services_manager.build();
            }            
        });


        // ------------ défini l'action du click sur une activité  
        $('#list_activities li').click(function () {
            if($(this).hasClass('active')){
                $('#list_activities li').removeClass('active');
                services_manager.build();
            }
            else {
                $('#list_activities li').removeClass('active');
                $(this).addClass('active');
                 services_manager.build($(this).attr('data-id'));
            }
        });

        // ------------ défini la redirection vers le détail
        function review(service){
            $(location).attr('href',"/feature?service="+service);
        }
        
        // ----------------  Initialize Services ----------------- (Service Controller)
       function initialize() {    
           
        <% for(var i=0; i< services.length; i++) {%>
        services_manager.data.push(
         {
            "activities": [
             <% for(var j=0; j< services[i].activities.length; j++) { %>
                <%= services[i].activities[j].id_activity + " , " %>
             <% } %> 
            ],
            "name": "<%= services[i].name %>",
            "description": "<%= services[i].description %>",
            "tel": "<%= services[i].creator.phone %>",
            "longitude": "<%= services[i].geolong %>",
            "address" : "<%= services[i].address.city %>",
            "latitude": "<%= services[i].geolati %>",
            "id_service": <%= services[i].id_service %>,
             "price":200,
             "minCapacity":1,
             "maxCapacity":100,
            "payed": <%= services[i].premium %>,
            "img":"<%= services[i].image %>",
             "fromDate":"2014-01-01",
             "toDate":"2020-01-01",
             "email":'<%= services[i].creator.email %>',
             "website":'www.nameEnterprice.com',
             "prices" : [
                 <% for(var j=0; j< services[i].servicePrices.length; j++) { %>
                   { 'price' : <%= services[i].servicePrices[j].price_per_person  %>,
                    'fromDate' : '<%= services[i].servicePrices[j].d_from  %>',
                    'toDate' : '<%= services[i].servicePrices[j].d_to  %>',
                    'businessDay' :  '<%= services[i].servicePrices[j].businessDay  %>'
                    },
                 <% } %> 
             ]
        });
        <% } %>  

        services_manager.load(null,[]);
        services_manager.onClickService = function (service) {
            map_manager.displayService(service);
        };
       
        // ----------- initialize Google Map and add marker  ------- (Map Controller)
        map_manager.init(0,0);
        map_manager.loadMarker(services_manager.data);
        map_manager.resize();

        // define action Click on Marker map
        map_manager.clickOnMarker = function (service) { 
            $('.part h3').css('color','#333');
            $('#service_' + service.id_service + ' h3').css('color','#AF2A47');
        };
    }
    </script>
</body>

</html>
